<footer class="fondoFooter mt-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 texto m-1 p-2">
                    <h3>Web Services</h3>
                    <p>
                       Este tp esta realizado en angular, usando services de angular y web services
                    </p>
                    <p>©Falcao.</p>
                </div>
                <div class="col-sm-4 col-sm-offset-1 texto m-1 p-2">
                    <h3>Contacto</h3>
                    <p><i class="fa fa-map-marker"></i> Perico, Jujuuy - Argentina</p>
                    <p><i class="fa fa-phone"></i> Telefono: (+54-9) 388 4321692</p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="gmail.com">email@domain.com</a></p>
                </div>
                <div class="col-sm-4 texto m-1 p-2">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Conceptos</h3>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-6 texto">
                            <p>Angular</p>
                            <p>Web Services</p>
                            <p>APIs</p>
                            <p>Bootstrap</p>
                        </div>
                        <div class="col-sm-6 texto">
                            <p>Routing</p>
                            <p>Angular Services</p>
                            <p>HTTP</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-12 footer-social text-center">
                    <a href="https://www.facebook.com/" target="_blank" class="p-1"><i class="fab fa-facebook"></i></a> 
                    <a href="https://twitter.com/" target="_blank" class="p-1"><i class="fab fa-twitter-square"></i></a> 
                    <a href="https://www.google.com/" target="_blank" class="p-1"><i class="fab fa-google-plus-g"></i></a> 
                    <a href="https://www.instagram.com/" target="_blank" class="p-1"><i class="fab fa-instagram-square"></i></a> 
                    <a href="https://ar.pinterest.com/" target="_blank" class="p-1"><i class="fab fa-pinterest-square"></i></a>
                </div>
            </div>
        </div>
</footer>