<div class="row">
    <div class="d-none d-md-block col-md-8 table-responsive p-1" style="border: 1px solid blue;">        
       <table class="table table-hover"> 
           <thead class="bg-primary">
                 <tr class="text-center text-white">
                   <th colspan="7" scope="col">Conversor de Divisas</th>
                 </tr>
                 <tr class="bg-light text-center">
                   <th></th>
                   <th></th>
                   <th *ngFor="let monX of divisas">                         
                       <img [src]="getImagenTabla(monX.from)" width="30rem" alt="pais">
                       <p>{{monX.from}}</p>
                   </th>                                                                    
                 </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let monY of divisas; index as i">
                   <th>
                     <img [src]="getImagenTabla(monY.from)" width="20rem" alt="eeuu">
                   </th>
                   <th>
                      <tr>
                        {{monY.amount}} {{monY.from}}
                      </tr>
                      <tr>
                        inverse
                      </tr>
                   </th>
                   <th *ngFor="let monX of monY.to">
                      <tr [ngClass]="cambiarColor(monX.from,monY.from)">
                        {{monX.amount | number:'1.5'}}
                      </tr>
                      <tr [ngClass]="cambiarColor(monX.from,monY.from)">
                        {{calcularInverseTabla(monX.from,monY.from) | number:'1.5'}}
                      </tr>
                   </th>
              </tr> 
            </tbody>
       </table>                                  
    </div>
     <div class="col-sm-12 col-md-4 p-1">         
       <form #formDivisa="ngForm" >
            <div class=" text-center text-white encabezadoForm">
              Conversor de Divisas
            </div> 
            <div class="text-white cuerpoForm p-2">
              <div	class="form-group">
                <label	for="cantidad">Cantidad</label>                    
                <input	type="number"	class="form-control" name="cant" #cant="ngModel"	id="cantidad"	placeholder="Cantidad" [(ngModel)]="value" required>       
                <div *ngIf="cant.invalid && (cant.dirty || cant.touched)" class="bg-danger mt-1 text-white">
                  <div *ngIf="cant.errors.required">
                    Cantidad es requerida.
                  </div>
           
                </div>
              </div>
              <div	class="form-group">
                <label	for="desde">De</label>
                <select class="form-control" name="desde" #desde="ngModel" id="selector" [(ngModel)]="from" required>
                  <option [value]="item.codigo" *ngFor="let item of monedas">{{item.nombre}}</option>
                </select>
                <div *ngIf="desde.invalid && (desde.dirty || desde.touched)" class="bg-danger mt-1 text-white">
                  <div *ngIf="desde.errors.required">
                    Este campo es requerido.
                  </div>
           
                </div>
              </div>
              <div	class="form-group">
                <label	for="hacia">A</label>
                <select class="form-control" id="to" name="hacia" #hacia="ngModel" [(ngModel)]="to" required>
                  <option [value]="item.codigo" *ngFor="let item of monedas">{{item.nombre}}</option>
                </select>
                <div *ngIf="hacia.invalid && (hacia.dirty || hacia.touched)" class="bg-danger mt-1 text-white">
                  <div *ngIf="hacia.errors.required">
                    Este campo es requerido.
                  </div>
           
                </div>
              </div>
              <div class="form-group">
                Resultado: {{resultado}}
              </div>
              <div	class="form-group">
                <button	type="submit"	class="btn btn-block boton font-weight-bold text-white" (click)="conversorFormulario()" [disabled]="!formDivisa.form.valid"> Convertir                           
                     <i class="flechaBoton fas fa-arrow-right float-right mt-1"></i>
                </button>                                        
              </div>
            </div>
          </form>           
     </div>

   </div>